# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/
build/

# --- Virtual Environment ---
venv/
.env/
.venv/

# --- Django ---
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/

# Arquivos de migrações compiladas
*/migrations/__pycache__/
*/migrations/*.pyc

# Se quiser ignorar todas as migrações (opcional):
# */migrations/*

# --- IDEs/Editors ---
.vscode/
.idea/
*.swp

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

.env
